.info {
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    width: 1200px;
    height: 900px;
    display: block;

    position: absolute;
    top: 0;
    left: 0;

    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzkxIiBoZWlnaHQ9IjEwNzIiIHZpZXdCb3g9IjAgMCA3OTEgMTA3MiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgZmlsdGVyPSJ1cmwoI2ZpbHRlcjBfZl80MDM1Xzk1NCkiPgo8ZWxsaXBzZSBjeD0iLTM0NS43NDgiIGN5PSI0MDUuODA0IiByeD0iNjAwLjUiIHJ5PSIzMzUuNSIgdHJhbnNmb3JtPSJyb3RhdGUoLTExLjIwNjEgLTM0NS43NDggNDA1LjgwNCkiIGZpbGw9IiM3QTExMjAiLz4KPC9nPgo8ZGVmcz4KPGZpbHRlciBpZD0iZmlsdGVyMF9mXzQwMzVfOTU0IiB4PSItMTQ4Mi40NSIgeT0iLTQ4Ny40NzMiIHdpZHRoPSIyMjczLjQiIGhlaWdodD0iMTc4Ni41NSIgZmlsdGVyVW5pdHM9InVzZXJTcGFjZU9uVXNlIiBjb2xvci1pbnRlcnBvbGF0aW9uLWZpbHRlcnM9InNSR0IiPgo8ZmVGbG9vZCBmbG9vZC1vcGFjaXR5PSIwIiByZXN1bHQ9IkJhY2tncm91bmRJbWFnZUZpeCIvPgo8ZmVCbGVuZCBtb2RlPSJub3JtYWwiIGluPSJTb3VyY2VHcmFwaGljIiBpbjI9IkJhY2tncm91bmRJbWFnZUZpeCIgcmVzdWx0PSJzaGFwZSIvPgo8ZmVHYXVzc2lhbkJsdXIgc3RkRGV2aWF0aW9uPSIyNzIiIHJlc3VsdD0iZWZmZWN0MV9mb3JlZ3JvdW5kQmx1cl80MDM1Xzk1NCIvPgo8L2ZpbHRlcj4KPC9kZWZzPgo8L3N2Zz4K");
    background-repeat: no-repeat;
    background-position: left top;

    @media (max-width: $w_mob) {
      display: none;
    }
  }

  &:after {
    content: '';
    width: 1400px;
    height: 670px;
    display: block;

    position: absolute;
    bottom: 0;
    right: 0;

    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYzMiIgaGVpZ2h0PSI3NDMiIHZpZXdCb3g9IjAgMCAxNjMyIDc0MyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgZmlsdGVyPSJ1cmwoI2ZpbHRlcjBfZl80MDM1XzEyODcpIj4KPGVsbGlwc2UgY3g9IjExMzcuMjUiIGN5PSI4OTMuNDE1IiByeD0iNjAwLjUiIHJ5PSIzMzUuNSIgdHJhbnNmb3JtPSJyb3RhdGUoLTExLjIwNjEgMTEzNy4yNSA4OTMuNDE1KSIgZmlsbD0iIzdBMTEyMCIvPgo8L2c+CjxkZWZzPgo8ZmlsdGVyIGlkPSJmaWx0ZXIwX2ZfNDAzNV8xMjg3IiB4PSIwLjU1MTA0MSIgeT0iMC4xMzc5MzkiIHdpZHRoPSIyMjczLjQiIGhlaWdodD0iMTc4Ni41NSIgZmlsdGVyVW5pdHM9InVzZXJTcGFjZU9uVXNlIiBjb2xvci1pbnRlcnBvbGF0aW9uLWZpbHRlcnM9InNSR0IiPgo8ZmVGbG9vZCBmbG9vZC1vcGFjaXR5PSIwIiByZXN1bHQ9IkJhY2tncm91bmRJbWFnZUZpeCIvPgo8ZmVCbGVuZCBtb2RlPSJub3JtYWwiIGluPSJTb3VyY2VHcmFwaGljIiBpbjI9IkJhY2tncm91bmRJbWFnZUZpeCIgcmVzdWx0PSJzaGFwZSIvPgo8ZmVHYXVzc2lhbkJsdXIgc3RkRGV2aWF0aW9uPSIyNzIiIHJlc3VsdD0iZWZmZWN0MV9mb3JlZ3JvdW5kQmx1cl80MDM1XzEyODciLz4KPC9maWx0ZXI+CjwvZGVmcz4KPC9zdmc+Cg==');
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  &__inner {
    position: relative;
    z-index: 2;
  }


  &__row {
    display: flex;
    justify-content: space-between;

    @media (max-width: $w_mob) {
      display: block;
    }
  }

  &__cell {
    width: 56%;

    @media (max-width: $w_mob) {
      width: 100%;
    }

    &:last-of-type {
      width: 36%;

      @media (max-width: $w_mob) {
        width: 100%;
        margin-top: 30px;
      }

    }
  }

  &__item {
    padding: 30px;
    box-sizing: border-box;
    background: var(--c-black);
    border-radius: 12px;

    & + .info__item {
      margin-top: 20px;
    }

    @media (max-width: $w_mob_s) {
      padding: 0;
    }
  }

  &__title {
    margin-bottom: 20px;

    text-align: center;
    text-transform: uppercase;
    color: var(--gold-brand);
    font-weight: 700;
    font-family: $font2;
    font-size: clamp(16px, 1.875vw, 30px);
  }

  &__list {
    padding: 25px 10px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;

    background: var(--black-bg);
    border-radius: 10px;

    @media (max-width: $w_mob_s) {
      display: block;
    }

    &_info {
      align-items: flex-end;
    }

    &-cell {
      width: 60%;
      padding: 0 10px;
      box-sizing: border-box;

      @media (max-width: $w_mob_s) {
        width: 100%;

        & + .info__list-cell {
          margin-top: 40px;
        }
      }

      &:last-of-type {
        width: 40%;

        @media (max-width: $w_mob_s) {
          width: 100%;
        }
      }
    }

    &-title {
      line-height: 100%;
      letter-spacing: -0.03em;
      font-family: $font2;
      font-size: clamp(26px, 2.875vw, 46px);

      span {
        color: var(--gold-brand);
      }
    }

    &-price {
      margin-top: 25px;

      line-height: 110%;
      font-variant-numeric: lining-nums;
      font-size: clamp(24px, 2.25vw, 36px);

      @media (max-width: $w_mob_s) {
        margin-top: 15px;
      }
    }

    &-size {
      text-align: right;

      font-variant-numeric: lining-nums;
      font-size: clamp(22px, 2.25vw, 36px);

      @media (max-width: $w_mob_s) {
        margin-top: 15px;
        text-align: left;
      }
    }
  }

  &__all {
    height: 100%;
    padding: 55px;

    box-sizing: border-box;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 12px;

    @media (max-width: $w_tab) {
      padding: 55px 30px;
      height: auto;

      text-align: center;
    }

    @media (max-width: $w_mob_s) {
      padding: 30px;
    }

    &-cell {
      & + .info__all-cell {
        margin-top: 45px;
      }
    }

    &-item {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;

      @media (max-width: $w_mob) {
        justify-content: center;
      }
    }

    &-title {
      margin-bottom: 15px;
      width: 100%;
      font-size: clamp(22px, 2.25vw, 30px);
      font-family: $font2;
      font-weight: 700;
      color: var(--gold-brand);
      text-transform: uppercase;
    }

    &-numb {
      margin-right: 10px;
      letter-spacing: -0.03em;

      line-height: 100%;
      font-family: $font2;
      font-size: clamp(50px, 8.75vw, 140px);
    }

    &-text {
      line-height: 115%;
      font-family: $font2;
      font-size: clamp(30px, 6.25vw, 100px);

      span {
        display: block;
        line-height: 100%;

        font-size: clamp(25px, 2.5vw, 40px);
      }
    }
  }
}