.job {
  text-align: center;

  .title {
    max-width: 100%;
  }

  &__row {
    display: flex;
    margin: 0 -10px;

    @media (max-width: $w_mob) {
      display: block;
    }
  }

  &__cell {
    width: 33.333%;
    padding: 0 10px;

    box-sizing: border-box;

    @media (max-width: $w_mob) {
      width: 100%;

      & + .job__cell {
        margin-top: 20px;
      }
    }
  }

  &__item {
    min-height: 210px;
    padding: 45px 35px;

    box-sizing: border-box;
    background: rgba(255,255,255,0.3);
    border-radius: 12px;

    @media (max-width: $w_mob) {
      min-height: 150px;
    }
  }

  &__text {
    letter-spacing: -0.02em;
    line-height: 103%;
    font-size: clamp(26px, 2.375vw, 38px);
  }

  &__numb {
    margin-top: 10px;

    color: var(--gold-brand);
    font-size: clamp(30px, 3.1875vw, 51px);

    font-variant-numeric: lining-nums;
    font-feature-settings: 'lnum';
  }
}