.rates {
  background-color: var(--red);
  background-image: url("../img/content/bg-pattern.png");
  background-image: image-set(
          url("../img/content/bg-pattern.png") 1x type("image/png"),
          url("../img/content/bg-patternp@2x.png") 2x type("image/png"),
          url("../img/content/bg-pattern.webp") 1x type("image/webp"),
          url("../img/content/bg-pattern@2x.webp") 2x type("image/webp"),
  );

  &__inner {

  }

  &__row {
    display: flex;
    margin: 0 -10px;

    @media (max-width: $w_mob) {
      display: block;
      margin: 0;
    }
  }

  &__cell {
    width: 50%;
    padding: 0 10px;
    box-sizing: border-box;

    @media (max-width: $w_mob) {
      width: 100%;
      padding: 0;

      & + .rates__cell {
        margin-top: 20px;
      }
    }
  }

  &__item {
    padding: 35px;

    box-sizing: border-box;
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 12px;

    @media (max-width: $w_mob_s) {
      padding: 20px;
    }
  }

  &__title {
    margin-bottom: 35px;

    text-transform: uppercase;
    font-family: $font2;
    font-weight: 700;
    line-height: 110%;
    font-size: clamp(30px, 3.125vw, 50px);
    text-align: center;
  }

  &__info {
    padding: 20px 30px;

    background: var(--c-black);
    border-radius: 10px;

    @media (max-width: $w_mob_s) {
      padding: 20px;
    }

    &-title {
      margin-bottom: 20px;
      box-sizing: border-box;

      font-size: clamp(26px, 2.5vw, 40px);
      font-family: $font2;
      color: var(--gold-brand);
      border-radius: 12px;
      text-align: center;
    }

    &-list {
      padding:  20px 15px;
      box-sizing: border-box;

      background: var(--black-bg);
      border-radius: 10px;

      ul {
        margin: 0;

         li {
           padding-left: 0;

           letter-spacing: 0.02em;
           line-height: 110%;
           font-size: clamp(16px, 1.375vw, 22px);

           &:before {
             display: none;
           }

           & + li {
             margin-top: 20px;
           }
         }
      }
    }
  }
}