.risks {
  position: relative;
  overflow: hidden;

  &:after {
    content: '';
    width: 1500px;
    height: 950px;

    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;

    background-repeat: no-repeat;
    background-position: bottom center;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc4MCIgaGVpZ2h0PSI3NzgiIHZpZXdCb3g9IjAgMCAxNzgwIDc3OCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgZmlsdGVyPSJ1cmwoI2ZpbHRlcjBfZl80MDM1XzEyNTApIj4KPGVsbGlwc2UgY3g9IjgzNS4xODYiIGN5PSI3MzUuNTI4IiByeD0iNzM5LjM5MSIgcnk9IjQ2MS4wMDgiIHRyYW5zZm9ybT0icm90YXRlKC01NS41ODg0IDgzNS4xODYgNzM1LjUyOCkiIGZpbGw9IiMyNDExMDgiLz4KPC9nPgo8ZGVmcz4KPGZpbHRlciBpZD0iZmlsdGVyMF9mXzQwMzVfMTI1MCIgeD0iLTI3My44NDQiIHk9Ii00NzEuOTQ3IiB3aWR0aD0iMjIxOC4wNiIgaGVpZ2h0PSIyNDE0Ljk1IiBmaWx0ZXJVbml0cz0idXNlclNwYWNlT25Vc2UiIGNvbG9yLWludGVycG9sYXRpb24tZmlsdGVycz0ic1JHQiI+CjxmZUZsb29kIGZsb29kLW9wYWNpdHk9IjAiIHJlc3VsdD0iQmFja2dyb3VuZEltYWdlRml4Ii8+CjxmZUJsZW5kIG1vZGU9Im5vcm1hbCIgaW49IlNvdXJjZUdyYXBoaWMiIGluMj0iQmFja2dyb3VuZEltYWdlRml4IiByZXN1bHQ9InNoYXBlIi8+CjxmZUdhdXNzaWFuQmx1ciBzdGREZXZpYXRpb249IjI3MiIgcmVzdWx0PSJlZmZlY3QxX2ZvcmVncm91bmRCbHVyXzQwMzVfMTI1MCIvPgo8L2ZpbHRlcj4KPC9kZWZzPgo8L3N2Zz4K");
  }

  &__inner {
    position: relative;
    z-index: 2;
  }

  &__top {
    margin-bottom: 35px;

    font-family: $font2;
    letter-spacing: -0.03em;
    line-height: 110%;
    font-size:  clamp(26px, 2.6875vw, 43px);
    color: var(--gold-brand);
  }

  &__title {
    font-family: $font2;
    font-size: clamp(35px, 5.75vw, 92px);
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.04em;
  }

  &__text {
    margin-top: 40px;
    max-width: 1200px;

    p {
      display: inline;
      padding: 3px 0;
      line-height: 110%;
      letter-spacing: 0.03em;
      font-variant-numeric: lining-nums;

      font-size: clamp(30px, 4.5vw, 72px);
      background: var(--c-black);

      span {
        color: var(--gold-brand);
      }
    }
  }
}