.sale {
	padding-bottom: 0;

	background-repeat: repeat;
	background-color: var(--red);
	background-size: 272px 272px;

	background-image: url("../img/content/bg-pattern.png");
	background-image: image-set(
					url("../img/content/bg-pattern.png") 1x type("image/png"),
					url("../img/content/bg-patternp@2x.png") 2x type("image/png"),
					url("../img/content/bg-pattern.webp") 1x type("image/webp"),
					url("../img/content/bg-pattern@2x.webp") 2x type("image/webp"),
	);

	overflow: hidden;

	@media (max-width: $w_mob) {
		padding-bottom: 50px;
	}

	&__inner {
		display: flex;
		margin: 0 -20px;

		@media (max-width: $w_mob) {
			display: block;
		}

		& + .sale__inner {
			flex-direction: row-reverse;
			margin-top: 100px;
			margin-right: 0;

			@media (max-width: $w_mob) {
				flex-direction: row;
				margin-right: -10px;
				margin-top: 50px;
			}

			.sale {
				&__title {
					text-align: right;
					padding: 0;

					@media (max-width: $w_mob) {
						text-align: center;
					}
				}

				&__img {
					margin-top: 140px;
					margin-left: 60px;

					@media (max-width: $w_mob) {
						margin-top: 50px;
						margin-left: 0;
						margin-bottom: 0;
					}

					@media (max-width: $w_mob_sm) {
						margin-bottom: -20px;
					}
				}
			}
		}
	}

	&__title {
		width: 40%;
		padding: 95px 20px 0;
		box-sizing: border-box;

		@media (max-width: $w_mob) {
			width: 100%;
			padding-top: 0;
		}
	}

	&__content {
		width: 60%;
		padding: 0 20px;
		box-sizing: border-box;

		@media (max-width: $w_mob) {
			width: 100%;
		}
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px -20px;

	}

	&__cell {
		width: 50%;
		padding: 0 10px 20px;

		box-sizing: border-box;

		@media (max-width: $w_mob_sm) {
			width: 100%;
		}
	}

	&__item {
		height: 350px;
		display: flex;
		align-items: flex-end;

		position: relative;
		overflow: hidden;
		border-radius: 10px;
	}

	&__bg {
		width: 100%;
		height: 100%;
		display: block;

		position: absolute;
		top: 0;
		left: 0;

		img {
			width: 100%;
			height: 100%;
			display: block;

			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			object-fit: cover;
		}

		&:after {
			content: '';
			width: 100%;
			height: 80%;
			display: block;

			position: absolute;
			left: 0;
			bottom: 0;
			z-index: 1;

			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
		}
	}

	&__bottom {
		padding: 12px 20px;

		position: relative;
		z-index: 2;

		@media (max-width: $w_mob) {
			padding: 15px;
		}

	}

	&__category {
		margin-bottom: 10px;
		letter-spacing: -0.03em;
		line-height: 115%;
		color: var(--gold-brand);
		font-family: $font2;
		font-size: clamp(24px, 1.875vw, 30px);
	}

	&__text {
		line-height: 108%;
		font-size: clamp(18px, 1.375vw, 22px);
	}

	&__img {
		margin-left: -30px;
		margin-top: 80px;

		@media (max-width: $w_mob) {
			margin-top: 50px;
			margin-left: 0;
			margin-bottom: 30px;
			padding: 0 25px;
		}

		img {
			display: block;
			margin: auto;
		}
	}
}