.services {
  position: relative;
  overflow: hidden;

  &:after {
    content: '';
    width: 1500px;
    height: 950px;

    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;

    background-repeat: no-repeat;
    background-position: bottom center;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYzMiIgaGVpZ2h0PSI4NTAiIHZpZXdCb3g9IjAgMCAxNjMyIDg1MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgZmlsdGVyPSJ1cmwoI2ZpbHRlcjBfZl80MDM1XzEzNDUpIj4KPGVsbGlwc2UgY3g9IjExMzcuMjUiIGN5PSI2NTUuNDE1IiByeD0iNjAwLjUiIHJ5PSIzMzUuNSIgdHJhbnNmb3JtPSJyb3RhdGUoLTExLjIwNjEgMTEzNy4yNSA2NTUuNDE1KSIgZmlsbD0iIzdBMTEyMCIvPgo8L2c+CjxkZWZzPgo8ZmlsdGVyIGlkPSJmaWx0ZXIwX2ZfNDAzNV8xMzQ1IiB4PSIwLjU1MTA0MSIgeT0iLTIzNy44NjIiIHdpZHRoPSIyMjczLjQiIGhlaWdodD0iMTc4Ni41NSIgZmlsdGVyVW5pdHM9InVzZXJTcGFjZU9uVXNlIiBjb2xvci1pbnRlcnBvbGF0aW9uLWZpbHRlcnM9InNSR0IiPgo8ZmVGbG9vZCBmbG9vZC1vcGFjaXR5PSIwIiByZXN1bHQ9IkJhY2tncm91bmRJbWFnZUZpeCIvPgo8ZmVCbGVuZCBtb2RlPSJub3JtYWwiIGluPSJTb3VyY2VHcmFwaGljIiBpbjI9IkJhY2tncm91bmRJbWFnZUZpeCIgcmVzdWx0PSJzaGFwZSIvPgo8ZmVHYXVzc2lhbkJsdXIgc3RkRGV2aWF0aW9uPSIyNzIiIHJlc3VsdD0iZWZmZWN0MV9mb3JlZ3JvdW5kQmx1cl80MDM1XzEzNDUiLz4KPC9maWx0ZXI+CjwvZGVmcz4KPC9zdmc+Cg==');
  }

  &__img {
    width: 350px;

    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 4;

    mix-blend-mode: lighten;

    @media (max-width: $w_mob_s) {
      display: none;
    }

    img {
      display: block;
    }
  }

  &__inner {
    position: relative;
    z-index: 3;
  }

  &__row {
    display: flex;
    margin: 0 -10px;

    @media (max-width: $w_mob_s) {
      display: block;
    }
  }

  &__cell {
    width: 50%;
    padding: 0 10px;

    box-sizing: border-box;

    @media (max-width: $w_mob_s) {
      width: 100%;

      & + .services__cell {
        margin-top: 20px;
      }
    }
  }

  &__rate {
    padding: 32px;
    min-height: 355px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;



    background-color: var(--red);
    background-image: url("../img/content/bg-pattern.png");
    background-image: image-set(
            url("../img/content/bg-pattern.png") 1x type("image/png"),
            url("../img/content/bg-patternp@2x.png") 2x type("image/png"),
            url("../img/content/bg-pattern.webp") 1x type("image/webp"),
            url("../img/content/bg-pattern@2x.webp") 2x type("image/webp"),
    );
    background-size: 272px 272px;
    background-repeat: repeat;
    background-position: center;

    border-radius: 12px;
    overflow: hidden;
    box-sizing: border-box;

    position: relative;

    @media (max-width: $w_mob_s) {
      min-height: 250px;
      padding: 20px;
    }

    &-on {
      span {
        padding: 5px 20px;
        box-sizing: border-box;
        background: var(--black-bg);
        border-radius: 80px;
        letter-spacing: 0.03em;
      }
    }

    &-title {
      letter-spacing: -0.02em;
      line-height: 110%;
      font-family: $font2;
      font-size: clamp(40px, 5vw, 80px);

      span {
        color: var(--gold-brand);
      }
    }
  }

  &__list {
    height: 100%;
    padding: 30px 35px;

    box-sizing: border-box;
    background: var(--black-bg);
    border-radius: 12px;
    overflow: hidden;

    @media (max-width: $w_mob_s) {
      padding: 20px;
    }

    ul {
      margin: 0;

      li {
        padding-left: 40px;
        font-variant-numeric: lining-nums;

        line-height: 115%;
        font-size: clamp(16px, 1.625vw, 26px);

        &:before {
          width: 28px;
          height: 28px;

          background-size: contain;
        }
      }
    }
  }
}