.step {
	&__inner {

	}

	&__row {
		display: flex;
		flex-wrap: wrap;

		margin: 0 -10px -10px;
	}

	&__cell {
		width: 25%;
		padding: 0 10px 20px;

		box-sizing: border-box;

		@media (max-width: $w_mob) {
			width: 33.333%;
		}

		@media (max-width: $w_mob_s) {
			width: 50%;
		}

		@media (max-width: $w_mob_sm) {
			width: 100%;
		}


	}

	&__item {
		height: 100%;
		min-height: 242px;
		padding: 15px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		box-sizing: border-box;
		background: var(--red-bg);
		border-radius: 10px;

		@media (max-width: $w_mob_s) {
			padding: 20px;
		}
	}

	&__numb {
		width: 56px;
		height: 56px;
		display: flex;
		align-items: center;
		justify-content: center;

		background: var(--red-numb);
		border-radius: 100%;
		font-size: clamp(22px, 2vw, 32px);
		font-variant-numeric: lining-nums;
		color: var(--gold-brand);
	}

	&__title {
		line-height: 111%;
		letter-spacing: 0.03em;
		font-size: clamp(22px, 2vw, 32px);
		text-transform: uppercase;
	}

	&__all {
		height: 100%;
		padding: 15px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border: 1px solid var(--gold-brand);
		border-radius: 10px;

		@media (max-width: $w_mob_s) {
			padding: 20px;
		}
	}

	&__time {
		letter-spacing: -0.02em;
		color: var(--gold-brand);
		font-family: $font2;
		font-size: clamp(25px, 2.5vw, 40px);
	}

	&__date {
		line-height: 111%;
		font-size: clamp(40px, 5vw, 80px);
		font-variant-numeric: lining-nums;
	}

	&__info {
		margin-top: 15px;
		padding: 25px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		border: 1px solid var(--c-white);
		border-radius: 10px;
		box-sizing: border-box;

		@media (max-width: $w_mob) {
			display: block;
		}

		@media (max-width: $w_mob_s) {
			padding: 20px;
		}

		&-title {
			padding-right: 20px;
			box-sizing: border-box;
			text-transform: uppercase;
			font-weight: 700;
			color: var(--gold-brand);
			line-height: 110%;
			letter-spacing: 0.03em;
			font-size: clamp(25px, 2.75vw, 44px);

			@media (max-width: $w_mob) {
				padding-right: 0;
			}
		}

		&-text {
			font-weight: 700;
			line-height: 110%;
			font-size: clamp(25px, 2.75vw, 44px);
			font-variant-numeric: lining-nums;
			letter-spacing: 0.04em;

			@media (max-width: $w_mob) {
				margin-top: 20px;
			}

			@media (max-width: $w_mob_s) {
				span {
					margin-bottom: 10px;
					display: block;
				}
			}

			a {
				letter-spacing: 0.04em;

				&:hover {
					color: var(--gold-brand);
				}
			}
		}
	}

	&__bottom {
		margin-top: 40px;

		text-align: center;
	}
}